@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap");

html,
body,
#svelte-body {
  background-color: whitesmoke;
  font-family: "Chivo";
  margin: 0;
  height: 100%;
}
